
body{
	background-color:#7093F4;
	background-size: cover;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color:#000000;
	font-style: oblique;font-size:20px;
}
h1{align-content: center;color:#F4F1F1;}
h2{
	align-content: center;color:#120937;
}
ul{
	margin-bottom:auto;
	padding: 0px;
	list-style: none;
	float: right;
	
}
ul li{
	float: left;
	width: 150px;
	height: 20px;
	background-color: black;
	opacity:.9;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	margin-right: 2px;
}
ul li a{
	text-decoration: none;
	color:white;
	display:block;
}
ul li a:hover{
	background-color:#6366F8;
}
ul li ul li{
	
	display:none;
}
ul li:hover ul li{
	display:block;
}

